---
layout: archive
title: "Conferences"
permalink: /conferences/
author_profile: true
---

{% include base_path %}

<!-- New style rendering if conferences categories are defined -->
{% if site.conferences_category %}
  {% for category in site.conferences_category  %}
    {% assign title_shown = false %}
    {% for post in site.conferences reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.conferences reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


